[Unit]
Description=Yandex Disk Service
After=network.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/bin/yandex-disk start -c /root/.config/yandex-disk/config.cfg
ExecStop=/usr/bin/yandex-disk stop

[Install]
WantedBy=multi-user.target
